<h1>Editing Need</h1>

<%= render 'form', need: @need %>

<%= link_to 'Add Partial Fulfillment', drop_off_new_need_fulfillment_path(@need) %> |
<%= link_to 'Back', organization_needs_path(@need.organization) %>
