<div class="mb4 ph2">
  <div class="mw7 center">
		<h1 class="f3 fw7 mb3">Admin Tools</h1>

			<% if current_user.superuser? %>
				<div class="bg-white shadow pa3 pa4-l mb5">
				  <h2 class="f4 fw7 mb4">New Organization</h2>

				  <%= render 'organizations/form', organization: @organization %>
				</div>  
			<% end %>

			<%= link_to new_user_path, class: "link hover-blue dib pa2" do %>
        <span class="fas fa-plus-circle pr1" aria-hidden="true"></span>User
      <% end %>

	</div>
</div>