<h1>AdminTools</h1>

<table>
  <tbody>
    <tr>
      <td>Organization</td>
      <td><%= link_to "Show All", organizations_path %></td>
      <td><%= link_to "Create New", new_organization_path %></td>
    </tr>
  </tbody>
</table>
