<h1>Editing Fulfillment</h1>

<%= render 'form', fulfillment: @fulfillment %>

<%= link_to 'Show', edit_need_fulfillment_path(@need, @fulfillment) %> |
<%= link_to 'Back', need_fulfillments_path(@need) %>
