<h1>Editing Surplus</h1>

<%= render 'form', surplus: @surplus %>

<%= link_to 'Show', organization_surplu_path(@organization, @surplus) %> |
<%= link_to 'Back', organization_surplus_path(@organization) %>
