<div class="mb4 ph2">
  <div class="mw7 center">
    <div class="bg-white shadow pa3 pa4-l">
			<h1 class="f3 fw7 mt0 mb4">Edit Organization</h1>
			<%= render 'form', organization: @organization %>
		</div>
	</div>
</div>
