<h1>About</h1>
<p>Info about the project can go here. Late information for the site can go here.</p>
<p>Feel free to contribute to the project. Code is on GitHub | <a href="https://github.com/NickSchimek/basic_rights" target="_blank">basic_rights</a></p>
